body {
  background: #0048ca;
}

/* Custom Fonts  */
@font-face {
  font-family: "IBM";
  src: url("/public//fonts/IBM/IBMPlexSansArabic-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "IBM";
  src: url("/public//fonts/IBM/IBMPlexSansArabic-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "IBM";
  src: url("/public//fonts/IBM/IBMPlexSansArabic-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "IBM";
  src: url("/public//fonts/IBM/IBMPlexSansArabic-Bold.ttf");
  font-weight: bold;
}

@media(max-width:767px) {
  .cloudIcon {
    font-size: 150px !important;
  }
}